.root {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.aboutUs {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    position: absolute;
    top: calc(100vh - 8rem);
    right: calc(50% - 5.25rem);

    cursor: pointer;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.footer {
    width: 100%;
    height: auto;
}